/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, textarea {
    margin-bottom: 10px;
    padding: 8px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
} */
* {
    padding: 0;
    margin: 0;
}
.header {
    background-color: #007bff;
    height: 15vh;
}

.inputs {
    width: 80%;
}

.textarea {
    height: 20vh;
    overflow: auto;
}

.button {
    width: 40%;
    padding: 1%;
   font-weight: 600;
   background-color: coral;
   border: 1px solid black;
   border-radius: 1vw;
}